{{#inputGroup}}
    <div class="input-group">
        {{#if prepend}}
            <div class="input-group-prepend">
                <span class="input-group-text">{{prependText}}</span>
            </div>
        {{/if}}
        <input type="text" class="form-control" placeholder="{{placeholderText}}">

        {{#if append}}
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">
                    {{appendText}}
                </button>
            </div>
        {{/if}}
    </div>

    <style>
        .input-group .input-group-append .btn {
            border: 1px solid #ced4da;
            border-top-right-radius: 0.25rem !important;
            border-bottom-right-radius: 0.25rem !important;
        }
    </style>
{{/inputGroup}}