<div class="dropdown">
    <button name="molecule-dropdown-button" class="btn btn-outline-secondary dropdown-toggle molecule-dropdown-button" type="button" id="dropdownMenuButton"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{#if dropdownText}}{{dropdownText}}{{else}} Please Select {{/if}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {{#dropdownLinks}}
            <a name="molecule-dropdown-item" class="molecules-dropdown-item dropdown-item">{{text}}</a>
        {{/dropdownLinks}}
    </div>
</div>

<script>
    // add an onclick listener to each of the dropdown menu items
    var moleculesDropdownItems = document.getElementsByClassName('body')[0].querySelectorAll('[name="molecule-dropdown-item"]');
    for (let menuItem of moleculesDropdownItems) {
        menuItem.addEventListener('click', function (event) {
            var dropdownButton = document.getElementsByClassName('body')[0].querySelectorAll('[name="molecule-dropdown-button"]')[0];
            if(dropdownButton){
                dropdownButton.innerHTML = event.target.innerHTML;
            }
            // Don't follow the link
            event.preventDefault();
        }, false);
    }
</script>