{{#alerts}}
<div class="alert alert-{{alertType}} {{#if dismissible}}alert-dismissible{{/if}} fade show" role="alert">
        <b class="text-capitalize">{{alertType}}</b>: {{alertText}}
        {{#if dismissible}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        {{/if}}
    </div>
{{/alerts}}