<ul class="nav">
        {{#navItems}}
            <li class="nav-item">
                <a class="nav-link {{#disabled}}disabled{{/disabled}}" {{#id}}href="#{{id}}"{{/id}} data-toggle="tab">{{text}}</a>
            </li>
        {{/navItems}}
</ul>