<ul class="sg-colors">
	{{# colors.brand }}
	<li>
		<span class="sg-swatch" style="background:{{color-value}};"></span>
		<span class="sg-label">
			{{color-name}}<br />
			{{color-value}}
		</span>
	</li>
	{{/ colors.brand }}
</ul>